@model Ingeniux.Runtime.CMSPageRequest
@using Ingeniux.Runtime
@using Ingeniux.Search;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
    </div>
</body>
</html>

<div>
    <h1>Static page title</h1>
</div>
