<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net472" />
  <package id="AngleSharp" version="0.9.9.2" targetFramework="net472" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net472" />
  <package id="CsvHelper" version="7.0.1" targetFramework="net472" />
  <package id="dotless" version="1.5.2" targetFramework="net472" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.7.1" targetFramework="net472" />
  <package id="Ingeniux_DSS_RTAPI" version="10.3.50" targetFramework="net472" />
  <package id="Ingeniux_InSite_Search_2" version="2.12.29" targetFramework="net472" />
  <package id="Ingeniux_InSite_Search_2_Dex_Dss10_3" version="2.12.29" targetFramework="net472" />
  <package id="jQuery" version="3.2.1" targetFramework="net472" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net472" />
  <package id="jQuery.Validation" version="1.16.0" targetFramework="net472" />
  <package id="jQuery.vsdoc" version="1.6" targetFramework="net472" />
  <package id="Lib.Web.Mvc" version="6.7.1" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net472" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.9.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAzure.SDK" version="2.9.0" targetFramework="net472" />
  <package id="Modernizr" version="2.8.3" targetFramework="net472" />
  <package id="morelinq" version="3.0.0" targetFramework="net472" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="NLog" version="4.4.12" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Pri.LongPath" version="2.0.45" targetFramework="net472" />
  <package id="RavenDB.Client" version="3.5.7" targetFramework="net472" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net472" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="SquishIt" version="1.0.0" targetFramework="net472" />
  <package id="SquishIt.AspNet" version="1.0.0" targetFramework="net472" />
  <package id="SquishIt.Framework" version="1.0.0" targetFramework="net472" />
  <package id="Svg" version="2.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net472" />
  <package id="WebGrease" version="1.6.0" targetFramework="net472" />
  <package id="XmpCore.StrongName" version="6.1.10" targetFramework="net472" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net472" />
</packages>